[global]
fsid ={{ uuid }}

mon initial members = {{ mon_initial_members }}

mon host = {% for host in mon_host.split(',') -%}
{% if host == mon_host.split(',')[0] %}
[{{ "v2:" + host + ":3300,v1:" + host + ":6789"}}]
{%- else -%}
,[{{ "v2:" + host + ":3300,v1:" + host + ":6789"}}]
{%- endif %}
{%- endfor %}

cluster network = {{ cluster_network }} 

public network = {{ public_network }}
mon_warn_on_insecure_global_id_reclaim_allowed = false
auth_allow_insecure_global_id_reclaim = false

{% if groups['rgws'] is defined %}
{% for node in mon_initial_members.split(',') %}

[{{ "client.rgw." + node }}]
{{ "host=" + node }}
{{ "keyring=/var/lib/ceph/radosgw/ceph-" + node + "/keyring" }}
{{ "log file = /var/log/ceph/ceph-rgw-" + node + ".log" }}
rgw_frontends = beast port=8080
rgw thread pool size = 512

{% endfor %}
{% endif %}
